<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <body>
            {{>header}}
            <p>Weather Forecast Page of {{comp_name}}</p>
            {{!-- <img src="/img/Mercedes.png"> --}}

            <form>
                <input placeholder="Location">
                {{!-- <button>Search</button><i class="fa fa-search"></i></button> --}}
                <button><i class="fa fa-search"></i></button>

            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

        <script src="/js/app.js"></script>
        </body>

    </head>

    {{>footer}}

</html>