<header>
    <div class="topbar">

        <img class ="star" src="/img/Mercedes.png">
        <h1>{{comp_name}}</h1>
        <a class ="about" href="/about">About</a>
        <a href="/help">Help</a>
        <a href="/">Home</a>

    </div>
    
    <h2>{{title}}</h2>

    
</header>